---
{% for environment in environments -%}
apiVersion: v1
kind: Service
metadata:
  name: {{ environment }}
spec:
  type: NodePort
  ports:
  - name: http
    port: 8080
    targetPort: 8080
  selector:
    app: {{ environment }}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ environment }}
spec:
  serviceName: "{{ environment }}"
  replicas: 1
  selector:
    matchLabels:
      app: {{ environment }}
  template:
    metadata:
      labels:
        app: {{ environment }}
    spec:
      securityContext:
          fsGroup: 1000
      volumes:
      - name: configmap-volume
        configMap:
          name: code-server-proxy
      containers:
      - name: nginx
        image: nginx
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /status
            port: 8080
        volumeMounts:
        - mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
          name: configmap-volume
      - name: {{ environment }}
        image: codercom/code-server:3.5.0
        args: ['--bind-addr=127.0.0.1:8090']
        ports:
        - containerPort: 8090
        volumeMounts:
        - name: {{ environment }}-home
          mountPath: /home/coder
  volumeClaimTemplates:
  - metadata:
      name: {{ environment }}-home
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: {{ home_drive_size }}
{{ "---" if not loop.last }}
{% endfor -%}
